<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Menú</a>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" routerLink="/">
              Inicio
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/pagina1">
              Página 1
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/pagina2">
              Página 2
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Desplegable
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" routerLink="/subpagina1">Subpágina 1</a>
              <a class="dropdown-item" routerLink="/subpagina2">Subpágina 2</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
