<!-- roles.component.html -->

<!-- Tabla principal -->
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <th scope="row">{{user.id}}</th>
      <td>{{user.name}}</td>
      <td>{{user.lastName}}</td>
      <td>
        <button class="btn btn-primary" (click)="editRol(user.id)">Editar</button>
        <button class="btn btn-danger">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Modal -->
<div class="modal" id="editRolModal" tabindex="-1" role="dialog" aria-labelledby="editRolModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editRolModalLabel">Editar Rol</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="id">Id</label>
            <input type="text" class="form-control" id="id" placeholder="Id" [(ngModel)]="selectedUser.id" disabled>
          </div>
          <div class="form-group">
            <label for="firstName">Nombre</label>
            <input type="text" class="form-control" id="firstName" placeholder="Nombre" [(ngModel)]="selectedUser.name">
          </div>
          <div class="form-group">
            <label for="lastName">Apellido</label>
            <input type="text" class="form-control" id="lastName" placeholder="Apellido" [(ngModel)]="selectedUser.lastName">
          </div>
          <div class="form-group">
            <label for="assignedRoles">Roles Asignados</label>
            <table class="table">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Nombre</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let assignedRole of selectedUser.rol">
                  <td>{{ assignedRole.id }}</td>
                  <td>{{ assignedRole.name }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- Lista desplegable de roles -->
          <div class="form-group">
            <label for="roles">Roles Totales</label>
            <select class="form-control" id="roles" multiple [(ngModel)]="selectedUser.rol">
              <option *ngFor="let role of roles" [value]="role.id">
                {{ role.name }}
              </option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </div>
</div>