<!-- roles.component.html -->
<div class="container mt-4 mb-3">
  <div class="card">
    <div class="card-body text-center">
      <span class="h3">Roles</span>
    </div>
  </div>
</div>

<!-- Tabla principal -->
<div class="container mt-2">
  <div class="card">
    <div class="card-body">
      <nav class="navbar navbar-light">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Nombre</th>
              <th scope="col">Apellido</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <th scope="row">{{user.id}}</th>
              <td>{{user.name}}</td>
              <td>{{user.lastName}}</td>
              <td>
                <i class="fas fa-pen-to-square fa-lg text-info ms-3" (click)="editRol(user.id)"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </nav>
    </div>
  </div>
</div>

<!-- Modal de Roles -->
<app-modal-roles
  [isOpen]="isRoleModalVisible"
  [areas]="areas"
  [actualRoles]="actualRoles"
  [rolesToAdd]="rolesToAdd"
  (onCloseRolesModal)="closeModal()"
  [selectedUser]="selectedUser"
  [roles]="roles"
  (onSaveChangesModal)="saveChanges()">
</app-modal-roles>
