<div class="modal" class="modal modal-backdrop" [style.display]="isOpen ? 'block' : 'none'">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header">
              <!--<button class="btn btn-success btn-sm" (click)="agregarDatos()">
                  <i class="fa-solid fa-circle-plus"></i>
                  Agregar archivo
              </button>-->
              <button class="btn btn-danger btn-sm ms-2" (click)="borrarDatos()">
                  <i class="fa-solid fa-circle-minus"></i>
                  Quitar archivo
              </button>
              <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
          </div>
          <div class="modal-body" id="element">
              <div class="row g-2">
                  <div class="col-sm-4">
                      <input type="text" class="form-control" placeholder="OT" aria-label="OT" [(ngModel)]="ot">
                  </div>
                  <div class="col-sm-4 mb-2">
                      <input type="text" class="form-control" placeholder="Descripción" aria-label="Descripción"
                          [(ngModel)]="nombre">
                  </div>
              </div>
              <!--Campos fijos del modal generar QR
              <div class="row">
                <div class="col-sm-4 mb-2">
                  <label style="color: black;" for="planosElectricos">Planos Eléctricos</label>
                </div>
                <div class="col mb-2">
                  <input type="file" class="form-control" id="planosElectricos" (change)="captureFile($event, 0)">
                </div>
              </div>

              <div class="row">
                <div class="col-sm-4 mb-2">
                  <label style="color: black;" for="planosMecanicos">Planos Mecánicos</label>
                </div>
                <div class="col mb-2">
                  <input type="file" class="form-control" id="planosMecanicos" (change)="captureFile($event, 1)">
                </div>
              </div>

              <div class="row">
                <div class="col-sm-4 mb-2">
                  <label style="color: black;" for="protocolos">Protocolos</label>
                </div>
                <div class="col mb-2">
                  <input type="file" class="form-control" id="protocolos" (change)="captureFile($event, 2)">
                </div>
              </div>

              <div class="row">
                <div class="col-sm-4 mb-2">
                  <label style="color: black;" for="certificadosProducto">Certificados del Producto</label>
                </div>
                <div class="col mb-2">
                  <input type="file" class="form-control" id="certificadosProducto" (change)="captureFile($event, 3)">
                </div>
              </div>-->

              <div *ngIf="element == true">
                  <div *ngFor="let formulario of formularios; let i = index ">
                      Formulario de carga de archivos
                      <form>
                          <div class="row">
                              <div class="col">
                                  <div class="input-group" id="form">
                                      <input type="text" aria-label="Nombre archivo" class="form-control"
                                          placeholder="Nombre archivo" [(ngModel)]="formulario.value.nombreArchivo"
                                          [name]="'nombreArchivo' + i" enable="false">
                                  </div>
                              </div>
                              <div class="col">
                                  <input type="file" class="form-control" id="CargaArchivo"
                                      [(ngModel)]="formulario.value.archivo" [name]="'archivo' + i"
                                      (change)="captureFile($event, i)">
                              </div>
                          </div>
                          <br>
                      </form>
                  </div>
              </div>

              <div class="modal-footer">
                  <div class="d-grid gap-2 col-4 mx-auto">
                      <button type="button" class="btn btn-primary" (click)="gererarQR()" (disable)="loading">
                          <i class="fa-solid fa-box-archive"></i>
                          {{(loading) ? "Cargando..." : "Generar QR"}}
                      </button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
