<div class="app">
  <app-header [pageTitle]="'SYNCWORKS'"
  [logoSrc]="'assets/imagenes/logoNuevo.png'"/>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
      </div>
    </div>
  </div>
</div>


<div id="login" class="row justify-content-center mx-auto my-auto d-flex flex-column"
style="border: 2px solid rgb(36, 122, 49); padding: 30px; border-radius: 10px;
display: inline-block; max-width: 300px; box-shadow: 0 0 10px rgb(36, 122, 49);">
  <div class="col-12">
    <form (ngSubmit)="onSubmitLogin()" #formularioLogin="ngForm">
      <div class="form-group mb-4">
        <label class="form-label" for="loginName">Usuario</label>
        <input class="form-control" type="usuario" id="loginName" name="login"
        [(ngModel)]="usuario"/>
      </div>
      <div class="form-group mb-4">
        <label for="loginPassword">Contraseña</label>
        <input class="form-control" type="password" id="loginPassword" name="password"
        [(ngModel)]="password"/>
      </div>
      <button type="submit" class="btn btn-primary btn-block mb-4 w-100">Iniciar Sesión</button>
    </form>
  </div>
</div>
