<div class="row justify-content-center">
  <div class="col-4">
    <form (ngSubmit)="onSubmitLogin()" #formularioLogin="ngForm">
      <div class="form-outline mb-4">
        <input class="form-control" type="usuario" id="loginName" name="login"
        [(ngModel)]="usuario"/>
        <label class="form-label" for="loginName">Usuario</label>
      </div>
      <div class="form-outline mb-4">
        <input class="form-control" type="password" id="loginPassword" name="password"
        [(ngModel)]="password"/>
        <label for="loginPassword">Contraseña</label>
      </div>
      <button type="submit" class="btn btn-primary btn-block mb-4">Iniciar Sesión</button>
    </form>
  </div>
</div>
