<div class="app">
  <app-header [pageTitle]="'SYNCWORKS'"
    [logoSrc]="'assets/imagenes/logoNuevo.png'">
  </app-header>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
      </div>
    </div>
  </div>
</div>

<div id="login" class="row justify-content-center mx-auto my-auto d-flex flex-column"
  style="border: 2px solid rgb(36, 122, 49); padding: 30px; border-radius: 10px;
  display: inline-block; max-width: 300px; box-shadow: 0 0 10px rgb(36, 122, 49);">
  <!--deseo insertar un logo en este login-->
  <div class="col-12">
    <div class="row justify-content-center">
      <div class="col-10">
        <img src="../assets/imagenes/Logo_DEMCO.png" class="img-fluid mb-4" alt="logo Empresa" style="height: 50px; width: 250px;">
      </div>
    </div>
  <div class="col-40">
    <div class="row justify-content-center">
      <div class="col-10">
        <form (ngSubmit)="onSubmitLogin()" #formularioLogin="ngForm">
          <div class="form-outline mb-4">
            <input class="form-control" type="text" id="loginName" name="login" [(ngModel)]="usuario" autocomplete="off"/>
            <label class="form-label" for="loginName">Usuario</label>
          </div>
          <div class="form-outline mb-4">
            <input class="form-control" type="password" id="loginPassword" name="password" [(ngModel)]="password" autocomplete="off"/>
            <label for="loginPassword">Contraseña</label>
          </div>
          <button type="submit" class="btn btn-primary btn-block mb-1">Iniciar Sesión</button>
        </form>
      </div>
    </div>
  </div>
</div>
