<!--Titulo-->
<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3">Generar QR- SYNCWORKS</span>
        </div>
    </div>
</div>

<!--Barra de navegacion con botones-->
<!--Tabla de OTS-->
<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <nav class="navbar navbar-light bg-light">
                <div class="container-fluid">
                  <a class="navbar-brand">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle btn-sm" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            10
                            </button> Registros
                            
                            <a class="button">
                                <button type="button" class="btn btn-secondary btn-sm ms-5" data-bs-toggle="modal" data-bs-target="#modalCarga"> 
                                    <i class="fa-solid fa-upload"></i>
                                        Crear código
                                </button>
                            </a>
                        </div>
                  </a>
                  <form class="d-flex">
                    <input class="form-control me-2" type="buscar" placeholder="Buscar" aria-label="Search">
                    <button class="btn btn-outline-secondary" type="submit">Buscar</button>
                  </form>
                </div>
              </nav>
            <br>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">OT</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <th scope="row">1</th>
                    <td>2400</td>
                    <td>Clinica Cumi</td>
                    <td>
                        <i class="fa-solid fa-pen-to-square fa-lg text-success"></i>
                        <i class="fa-solid fa-download fa-lg text-info ms-3"></i>
                        <i class="fa-solid fa-trash-can fa-lg text-danger ms-3"></i>
                    </td>
                    </tr>
                    <tr>
                    <th scope="row">2</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    </tr>
                    <tr>
                    <th scope="row">3</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    </tr>
                </tbody>
                </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalCarga" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button class="btn btn-success btn-sm" id="Añadir">
            <i class="fa-solid fa-circle-plus"></i>
             Nuevo archivo
            </button>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="row g-2">
              <div class="col-sm-4">
                <input type="text" class="form-control" placeholder="OT" aria-label="OT">
              </div>
              <div class="col-sm-4">
                <input type="text" class="form-control" placeholder="Descripción" aria-label="Descripción">
              </div>
            </div>
            <br/>
                    
            <div class="row">
              <div class="col">
                <div class="input-group">
                    <input type="text" aria-label="Nombre archivo" class="form-control" placeholder="Nombre archivo" required>
                  </div>
                </div>
                <div class="col">
                  <input type="file" class="form-control" id="CargaArchivo">
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col">
                  <div class="input-group">
                    <input type="text" aria-label="First name" class="form-control" placeholder="Nombre archivo">
                  </div>
                </div>
                <div class="col">
                  <input type="file" class="form-control" id="inputGroupFile02">
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col">
                  <div class="input-group">
                    <span class="input-group-text">Nombre archivo</span>
                    <input type="text" aria-label="First name" class="form-control">
                  </div>
                </div>
                <div class="col">
                  <input type="file" class="form-control" id="inputGroupFile02">
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col">
                  <div class="input-group">
                    <span class="input-group-text">Nombre archivo</span>
                    <input type="text" aria-label="First name" class="form-control">
                  </div>
                </div>
                <div class="col">
                  <input type="file" class="form-control" id="inputGroupFile02">
                </div>
              </div>
              <br>
            <div class="modal-footer">
              <!--button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</!--button-->
              <div class="d-grid gap-2 col-4 mx-auto">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalQR">
                  <i class="fa-solid fa-box-archive"></i>
                  Generar código
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>

<!-- ModalQR -->
<div class="modal fade" id="modalQR" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>