<!-- Título -->
<div class="container mt-4">
  <div class="card">
    <div class="card-body text-center">
      <span class="h3">Generar QR</span>
    </div>
  </div>
</div>

<!-- Sección tablaOts -->
<!-- Barra de navegación con botones -->
<!-- Tabla de OTS -->
<div class="container mt-4 pre-scrollable">
  <div class="card">
    <div class="card-body">
      <nav class="navbar navbar-light">
        <div class="container-fluid">
          <div class="dropdown">
            <button class="btn btn-dark dropdown-toggle btn-md"
            type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              {{ limit }} Registros
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" (click)="limit = 10">10 Registros</a></li>
              <li><a class="dropdown-item" (click)="limit = 20">20 Registros</a></li>
              <li><a class="dropdown-item" (click)="limit = 50">50 Registros</a></li>
              <li><a class="dropdown-item" (click)="limit = 100">100 Registros</a></li>
            </ul>
          </div>
          <a class="button col">
            <button type="button" class="btn btn-primary btn-md ms-3" (click)="newCharge()">
              <i class="fas fa-upload"></i>
              Crear código
            </button>
          </a>
          <form class="d-flex form-group">
            <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
            <button class="btn btn-outline-secondary" type="submit" (click)="search()">Buscar</button>
          </form>
        </div>
      </nav>
      <br>
      <!-- Tabla Ots -->
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">OT</th>
            <th scope="col">Nombre</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let folder of folders; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ folder.ot }}</td>
            <td>{{ folder.name }}</td>
            <td class="col-3">
              <i class="fas fa-pen-to-square fa-lg text-success" (click)="editFolder(folder)" [attr.disabled]="loading ? true : null"></i>
              <i class="fas fa-download fa-lg text-info ms-3" (click)="viewQr(folder)" [attr.disabled]="loading ? true : null"></i>
              <i class="fas fa-trash-can fa-lg text-danger ms-3" (click)="deleteFolder(folder)" [attr.disabled]="loading ? true : null"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<app-modal-qrvarios
  [isOpen]="modalOpen"
  [files]="files"
  [fileu]="fileu"
  [ot]="ot"
  [nombre]="nombre"
  [loading]="loading"
  (onCloseModal)="closeModalQRVarios()"
  (onSaveQr)="generarQR($event.files,$event.ot, $event.descripcion, $event.names)"
  (onAddFile)="agregarDatos()">
</app-modal-qrvarios>

<app-modal-qrimage
  [isOpenQr]="modalOpenQRb"
  [image]="image"
  (onCloseModalQR)="closeModalQR()"
  (onSaveQr)="saveQr()"
  >
</app-modal-qrimage>

<app-modal-folderedit
  [isOpen]="modalFolderEdit"
  [archives]="archives"
  [selectedFolder]="selectedFolder"
  [loading]="loading"
  [nameFile]="nameFile"
  (onCloseModalFolderEdit)="closeModalFolderEdit()"
  (onViewFile)="viewFile($event.archive)"
  (onDeleteFile)="deleteFile($event.archive)"
  (onUploadUniqueFile)="uploadUniqueFile($event.uniqueFile)">
</app-modal-folderedit>