<!--pagina donde se vera el la informacion del empleado, la imagen y permitira cambiar el password y la imagen del usuario-->
<div class="flex-container ml-5" style="display: flex;">
    <div class="col-md-4 ms-5">
        <div class="card" style="box-shadow: 0 0 20px rgb(86, 156, 243);">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Mi Perfil</h4>
                <p class="card-category">Informacion del empleado</p>
            </div>
            <div class="card-body">
                <div class="text-center image-container">
                    <img [src]="userImage" alt="User Avatar" width="150" height="150" class=" rounded-circle  mr-1">
                    <button name="avatar" class="edit-button" (click)="changeImage()">
                        <i class="fa fa-pencil"></i>
                    </button>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="text-center">{{user.name}}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="text-center">{{user.lastName}}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="text-center">{{user.email}}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="text-center" *ngFor="let rol of user?.rol">{{rol.name}}</h4>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card ma-5">
                        <button type="button" class="btn btn-primary" (click)="openChangePassword()">Change Password</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 ms-3" *ngIf="changePassWord">
        <div class="card" style="box-shadow: 0 0 20px rgb(96, 238, 110);">
            <div class="card-header card-header-primary">
                <h4 class="card-title mb-3">Cambiar Password</h4>
                <p class="card-category">Ingrese su nuevo password</p>
            </div>
            <div class="card-body">
                <label for="password">New Password</label>
                <input type="password" class="form-control mb-4" [(ngModel)]="newPassword" name="newPassword" required>
                <label for="password">Confirm Password</label>
                <input type="password" class="form-control mb-3" [(ngModel)]="confirmPassword" name="confirmPassword" required>
            </div>
            <div class="card-body">
                <div class="card">
                    <button type="button" class="btn btn-primary" (click)="changePassword(newPassword,confirmPassword)">Change
                        Password</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4" *ngIf="chaImage">
        <div class="card">
            <!--aqui se escogera el archivo para la imaen nueva si se desea cambiar-->
            <div class="card-header card header-primary">
                <h4 class="card-title">Cambiar Imagen</h4>
                <p class="card-category">Seleccione una imagen con extension .png o .jpg</p>
                <input name="avatar" type="file" id="CargaArchivo" (change)="captureFile($event)" accept=".png" >
            </div>
            <div>
                <button type="button" class="btn btn-primary" (click)="changeImageAvatar()">Change Image</button>
            </div>
    </div>
</div>
