/*estilos generales*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.encabezado-menu{
  background-color: rgb(36, 122, 49);
  box-shadow: 0 0 10px #2551be;
  background-image: url(./assets/imagenes/Logo_letras_blancas.png);
  background-repeat: no-repeat;
  background-position: 30px center;
  background-size: 8%;
  height: 90px;
  height: 60px;
  width: 100%;
  padding: 5px;
  color: white;
  text-align: center;
  margin-bottom: 3px;
}

.active-link{
  color: rgb(36, 122, 49);
}

/* Styles for the sidebar menu */
:root{
  /*--primary: #111854;*/
  --primary: #2551be;
  --light: #ffffff;
  --grey: #efefef;
  --verde: rgb(36, 122, 49)
}

body{
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: var(--primary);
}

a:hover{
  text-decoration: none;
}

.btn-1:hover{
  background-color: var(--verde);
  border: var(--verde);
}

.btn-2:hover{
  background-color: var(--verde);
  border: var(--verde);
}

label{
  font-weight: bold;
}

.bg-primary {
  background-color: var(--primary) !important;
}

#sidebar-container{
  min-height: 100vh;
}

#sidebar-container .logo{
  padding: .875rem 1.2rem;
}

#sidebar-container .menu{
  width: 18rem;
}

.avatar{
  max-width: 35px;
}

.selector-for-some-widget {
  box-sizing: content-box;
}
