<!--deseo crear una tabla con los siguientes datos (id, Nombre, Apellido, Rol, Estado, Acciones)-->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center">Usuarios</h3>
      <button type="button" class="btn btn-primary p-2" (click)="createUser(contenido1)">Crear Usuarios</button>
      <!--llamo al modal-->
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Area</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.area.name}}</td>
            <td>
              <button class="btn btn-primary" (click)="editUser(user.id, contenido1)">Editar</button>
              <button class="btn btn-danger" (click)="deleteUser(user.id, contenido2)">Eliminar</button>
              <button class="btn-warning" (click)="updatePassword(user.id, contenido2, contenido3)">Password</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Modal para login -->
  <ng-template #contenido2 let-modal tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
      <h3 class="Login" id="exampleModalLabel">Login</h3>

      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" [(ngModel)]="userLogin.userName" name="username" id="username">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" [(ngModel)]="userLogin.password" name="passwordlogin"
              id="passwordlogin">
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="login(userLogin, confirmPassword)">Login</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">Cerrar</button>
      </div>
    </div>
  </div>
  </ng-template>


  <!--deseo crear un modal con bootrap con los siguienetes campos para insertarlos en la tabla usuarios
    (nombre, apellido, roel este en lista desplegable, acciones y estado) con un boton de enviar a al tabla-->
  <ng-template #contenido1 let-modal tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <h3 class="modal-title" id="exampleModalLabel">Crear Usuario</h3>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input type="text" class="form-control" [(ngModel)]="selectedUser.name" name="nombre" id="nombre">
        </div>
        <div class="form-group">
          <label for="apellido">Apellido</label>
          <input type="text" class="form-control" [(ngModel)]="selectedUser.lastName" name="apellido" id="apellido">
        </div>
        <div class="form-group" *ngIf="newUser">
          <label for="username">Username</label>
          <input type="text" class="form-control" [(ngModel)]="selectedUser.userName" name="username" id="username">
        </div>
        <div *ngIf="newUser">
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" [(ngModel)]="selectedUser.password" name="password"
              id="password">
          </div>
          <div class="form-group">
            <label for="password">Confirmar Password</label>
            <input type="password" class="form-control" [(ngModel)]="confirmPassword" name="confirmpassword"
              id="confirmpassword">
          </div>
        </div>
        <div class="form-group">
          <label for="Area">Area</label>
          <select class="form-control" [(ngModel)]="selectedUser.area.id" name="area" id="area">
            <option *ngFor="let area of areas" [value]="area.id" [selected]="area.id === selectedUser.area.id">
              {{area.name}}</option>
          </select>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="saveNewUser(selectedUser, confirmPassword)"
        *ngIf="newUser">Crear</button>
      <button type="button" class="btn btn-primary" (click)="save()" *ngIf="!newUser">Guardar</button>
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">Cerrar</button>
    </div>
  </ng-template>



  <!-- Modal para cambiar password -->
  <ng-template #contenido3 let-modal tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
      <h3 class="modal-title" id="exampleModalLabel">Cambiar Password</h3>
      <div class="modal-body">
        <form>
      <div >
        <label for="password">Password</label>
        <input type="password" class="form-control" [(ngModel)]="newPassword" name="password" id="password">
      </div>
      <label for="confirmPassword">Confirmar Password</label>
      <div>
        <input type="password" class="form-control" [(ngModel)]="confirmPassword" name="confirmPassword"
          id="confirmPassword">
      </div>
      </form>
      </div>
      <div>
        <button type="button" class="btn btn-primary" (click)="modifyPass(newPassword, confirmPassword)">Crear</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">Cerrar</button>
      </div>
      </div>
    </div>
  </ng-template>