<!-- Contenedor del título -->
<div class="container title mt-4 mb-4">
  <div class="card">
    <div class="card-body">
      <span class="h3">Usuarios</span>
    </div>
  </div>
</div>

<!-- Botón de Crear Usuarios -->
<nav class="navbar navbar-light mt-3">
  <div class="container-fluid">
    <a class="navbar-brand">
      <div class="row">
        <div class="col-md-12">
          <button type="button" class="btn btn-primary p-2 mb-3" (click)="createUser()">Crear Usuarios</button>
        </div>
      </div>
    </a>
  </div>
</nav>

<!-- Modal de Usuarios -->
<app-modal-usuarios
  (onSaveUser)="saveNewUser($event.selectedUser, $event.confirmPassword)"
  [isOpen]="isUsuarioModalVisible"
  (onCloseUsuarios)="closeModalUsuarios()"
  [areas]="areas"
  [selectedUser]="selectedUser"
  [newUser]="newUser"
  (updateUsers)="save($event.selectedUser)"
  [updatePass]="updatePass"
  (updatePasswords)="modifyPass($event.selectedUser, $event.confirmPassword)">
</app-modal-usuarios>

<!-- Tabla de Usuarios -->
<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <table class="table table-bordered table-striped mt-3">
        <thead>
          <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Area</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.area.name}}</td>
            <td class="col-3">
              <button class="btn btn-primary btn-sm" (click)="editUser(user.id)">Editar</button>
              <button class="btn btn-danger btn-sm ms-2" (click)="deleteUser(user.id)">Eliminar</button>
              <button class="btn btn-success btn-sm ms-2" (click)="updatePassword(user.id)">Password</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
