<!-- Contenedor del título -->
<div class="container title mt-2 mb-2 ">
  <div class="card">
    <div class="card-body text-center" style="box-shadow: 0 0 10px rgb(36, 122, 49);">
      <span class="h3">Usuarios</span>
    </div>
  </div>
</div>

<!-- Modal de Usuarios -->
<app-modal-usuarios
  (onSaveUser)="saveNewUser($event.selectedUser, $event.confirmPassword)"
  [isOpen]="isUsuarioModalVisible"
  (onCloseUsuarios)="closeModalUsuarios()"
  [areas]="areas"
  [selectedUser]="selectedUser"
  [newUser]="newUser"
  (updateUsers)="save($event.selectedUser)"
  [updatePass]="updatePass"
  (updatePasswords)="modifyPass($event.selectedUser, $event.confirmPassword)">
</app-modal-usuarios>

<!-- Tabla de Usuarios -->
<div class="container mt-2 ">
  <div class="card pre-scrollable">
    <div class="card-body" style="box-shadow: 0 0 20px rgb(36, 122, 49);">
      <nav class="navbar navbar-light">
        <div class="container-fluid">
          <a class="button">
            <button type="button" class="btn btn-primary btn-md mb-3"
          (click)="createUser()">Crear Usuarios</button>
          </a>
        </div>
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Nombre</th>
              <th scope="col">Apellido</th>
              <th scope="col">Area</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <td>{{user.id}}</td>
              <td>{{user.name}}</td>
              <td>{{user.lastName}}</td>
              <td>{{user.area.name}}</td>
              <td class="col-3">
                <i class="fas fa-pen-to-square fa-lg text-success" (click)="editUser(user.id)"></i>
                <i class="fas fa-trash-can fa-lg text-danger ms-3"  (click)="deleteUser(user.id)"></i>
                <i class="fas fa-key fa-lg text-info ms-3" (click)="updatePassword(user.id)"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </nav>
    </div>
  </div>
</div>
