/*estilos de la cabecera del login*/
.app-logo{
    height: 80%;
    width: 15%;
}

.encabezado{
  background-color: rgb(36, 122, 49);
  height: 180px;
  padding: 10px;
  color: white;
  text-align: center;
  margin-bottom: 15px;
}

.app-titulo{
  font-size: 1.5em;
}
