/*estilos de la cabecera del login*/
.app-logo{
    height: 90%;
}

.encabezado{
  background-color: rgb(36, 122, 49);
  height: 90px;
  padding: 20px;
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

.app-titulo{
  font-size: 1.1em;
}
